extends templates/template
block main
    h1#top Animated scroll

    ul.animated-scroll__menu#menu
        li: a(href="#introduccion")#link1 Introduccion
        li: a(href="#cap1")#link2 Capitulo 1
        li: a(href="#cap2")#link3 Capitulo 2
    article.animated-scroll__content
        h2.article__subtitle#introduccion Introducción
        a(href="#top") subir
        p Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa.
          lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo
          tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto
          non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente
          inalterato.Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili
          che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione
          come Aldus PageMaker, che includeva versioni del Lorem Ipsum.

        p Al contrario di quanto si pensi, Lorem Ipsum non è semplicemente una sequenza casuale di caratteri.
          Risale ad un classico della letteratura latina del 45 AC, cosa che lo rende vecchio di 2000 anni.
          Richard McClintock, professore di latino al Hampden-Sydney College in Virginia, ha ricercato una delle
          pi oscure parole latine, consectetur, da un passaggio del Lorem Ipsum e ha scoperto tra i vari testi in
          cui è citata, la fonte da cui è tratto il testo, le sezioni 1.10.32 and 1.10.33 del "de Finibus Bonorum et
          Malorum di Cicerone. Questo testo è un trattato su teorie di etica, molto popolare nel Rinascimento.
          La prima riga del Lorem Ipsum, "Lorem ipsum dolor sit amet..", è tratta da un passaggio della sezione 1.10.32.
        p hola otro parrafo hpLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2.article__subtitle#cap1 Capitulo 1
        a(href="#top") subir
        p On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
          and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot
          foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail
          in their duty through weakness of will, which is the same as saying through shrinking from toil
          and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power
          of choice is untrammelled and when nothing prevents our being able to do what we like best, every
          pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
          claims of duty or the obligations of business it will frequently occur that pleasures have to be
          repudiated and annoyances accepted. The wise man therefore always holds in these matters to this
          principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures
          pains to avoid worse pains.
        p Vestibulum vulputate hendrerit mollis. Nam ut dolor ac leo lobortis condimentum non eget dui.
          Nam tincidunt fermentum ante suscipit pharetra. Maecenas interdum justo magna, eget suscipit
          lacus pretium non. Nam placerat, felis et ornare porta, turpis diam lobortis ante, sed posuere
          risus lacus nec sem. Praesent ultricies nunc lectus. Sed molestie felis non justo imperdiet,
          et tempor ante faucibus. Donec porta ac est in tempor. Pellentesque at convallis justo.
          Maecenas ullamcorper laoreet pharetra. Sed in tincidunt enim. Fusce sed neque nulla. Aenean
          tincidunt cursus nisi, quis tempus ante finibus at. Aenean eget bibendum purus, placerat
          rutrum mauris.
        h2.article__subtitle#cap2 Capitulo 2
        a(href="#top") subir
        p Donec felis nisl, sagittis nec dolor nec, placerat pharetra sapien. Donec ullamcorper, turpis
          quis commodo consectetur, orci elit mattis nibh, sed tincidunt mi neque ac lorem. Morbi dictum
          pretium aliquet. Etiam eget ligula ac mi pretium interdum. Sed ac quam vitae sem aliquam maximus.
          Curabitur velit diam, lobortis vitae tincidunt eget, aliquam sit amet diam. Nam nisl turpis,
          convallis eu scelerisque ut, tincidunt at lorem. Morbi nibh elit, viverra sit amet ex quis,
          molestie ultricies est. Sed vehicula sollicitudin mi et dignissim. Praesent porta lacinia dictum.
          In aliquam, lectus imperdiet pulvinar rutrum, est risus efficitur erat, vel vehicula neque elit
          sit amet lacus. Etiam eget elit nisi. In lobortis euismod velit vel venenatis.
          Nunc commodo felis quis nulla interdum gravida. Donec eu convallis quam, in vulputate augue.
          Donec feugiat ac nunc vel sodales. Vestibulum quis varius lorem. Vivamus tellus quam, sodales
          vitae ipsum nec, bibendum viverra dui. Curabitur turpis neque, finibus sed pretium aliquam,
          posuere nec dolor. Integer viverra erat velit. Donec et nulla quam. Fusce tellus orci, fermentum a
          mauris at, vehicula suscipit odio.
          Etiam condimentum libero eu porta aliquet. Duis imperdiet magna tortor, aliquam porta nisl scelerisque
          vitae.Donec hendrerit, est ut sodales malesuada, eros lacus egestas nisi, vel rutrum massa justo
          consectetur metus. Pellentesque nibh leo, fermentum eget gravida cursus, tincidunt sed ipsum.
          Vivamus semper diam eget venenatis molestie. Ut consectetur ut justo non vestibulum. Fusce vel
          tortor sed nisl semper vestibulum a nec augue. Cras tincidunt turpis in turpis suscipit, cursus
          tincidunt ipsum consequat. Pellentesque lacinia vitae dolor quis auctor. Curabitur condimentum
          dignissim quam, at iaculis massa ultricies non. Sed a fermentum turpis, placerat faucibus eros.
          Vestibulum non convallis magna. Pellentesque nulla sem, sodales vitae velit vitae, ullamcorper
          porttitor leo. Donec malesuada, erat malesuada consectetur facilisis, arcu lectus pharetra felis,
          non ultricies metus lacus non nisi. Maecenas eleifend, nisl sed egestas efficitur, ante lacus
          vestibulum nisl, eu volutpat neque purus eleifend mi.
          Nullam id facilisis dolor. Nulla ac diam risus. Phasellus et nibh purus. Etiam vestibulum, quam
          rutrum facilisis sollicitudin, nulla quam consectetur arcu, eget elementum ipsum est vitae augue.
          Vestibulum tincidunt a turpis eu mollis. Nullam nec elementum nunc, sit amet dignissim nunc.
          Nullam sed sodales metus. Donec et tortor iaculis, luctus ex quis, pharetra massa. Praesent dapibus
          arcu ac aliquet accumsan. Sed lorem erat, accumsan facilisis suscipit vitae, sodales sit amet arcu.
          Nulla blandit eleifend sem, in consequat erat faucibus sagittis. Suspendisse ac orci pellentesque
          risus malesuada feugiat. Maecenas at justo eget nibh placerat efficitur non eget velit.

    script( src='js/animated-scroll.js')

